#eclipse
**/bin
**/.settings
**/.classpath
*.project

#idea
/.idea
/*/out
/classes
*.iml

#gradle
/build
/.gradle
/*/build
/*/.gradle

#misc
/repo/
*.jfr
*.factorypath
/sm-jmh/.apt_generated/
/jmh_results.md
/test_results.html
/artifacts/
/test_artifacts.zip
